<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ayuda</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
    <link rel="icon" type="image/png" href="img/iconoInv.png">
</head>
<body class="fondoAyuda">
    <div class="container2">
        <h1>Información del Estudiante</h1>
        <div class="info">
        Nombre: <span>Guisela Mishell Monroy Ovalle</span><br>
        Carnet: <span>202404409</span><br>
        Curso: <span>Introduccion a la programación 2</span><br>
        Sección: <span>C</span><br>
        </div>

        <div class="usage">
        <h2>Acerca de la aplicación</h2>
        <p>Esta página está diseñada para optimizar un sistema de riego, basado en drones que riegan agua y fertilizante
        a un invernadero. La aplicación permite cargar archivos XML para seleccionar el invernadero a optimizar  
        y crear reportes sobre la optimización realizadas, ademas genera un archivo de salida con tablas que muestran
        los resultados de la optimización.</p>
        </p>
        <a href="https://github.com/Guisela-Uni/-IPC2_Proyecto2_202404409.git" target="_blank" >documentación y repositorio</a>
        </div>



        <div class="footer">
        &copy; 2025 Mishel | Página educativa interactiva
        </div>
    </div>
</body>
</html>